Template.aux
Template.log
Template.pdf
Template.synctex.gz
FunctionalRefactoring.aux
FunctionalRefactoring.log
FunctionalRefactoring.pdf
FunctionalRefactoring.synctex.gz
FunctionalRefactoring.toc
Clojure/Clojure.aux
Clojure/Clojure.log
Clojure/Clojure.pdf
Clojure/Clojure.synctex.gz
Lisp/lisp.aux
Lisp/lisp.log
Lisp/lisp.pdf
Lisp/lisp.synctex.gz
.DS_Store
